@model RegisterAccountViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.IsModal)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Created)
@Html.HiddenFor(model => model.Modified)

@Html.Raw(Model.Content)

<div class="form-group">
    @Html.LabelFor(model => model.EmailAddress, Model.EmailAddressLabel)
    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.EmailAddress)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Password, Model.PasswordLabel)
    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Password)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Confirm, Model.ConfirmPasswordLabel)
    @Html.PasswordFor(model => model.Confirm, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Confirm)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.FirstName, Model.FirstNameLabel)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.FirstName)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LastName, Model.LastNameLabel)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.LastName)
</div>
<div class="form-group form-check">
    @Html.CheckBoxFor(model => model.Active, new { @class = "form-check-input" })
    @Html.LabelFor(model => model.Active, Model.AcceptTermsOfUseLabel)
</div>