@model BudgetPlannerDetailsViewModel

@{ ViewBag.Title = "Details"; }

@Model.Reference @Html.ActionLink("Add Transaction", "CreateTransaction", "Budget", new { reference = Model.Reference })
<h1>@Model.Name</h1>
<p>Showing transactions from @Html.FormatContent(FormatConstants.LongDateFormat, Model.FromDate) - @Html.FormatContent(FormatConstants.LongDateFormat, Model.ToDate)</p>
@await (Component.InvokeAsync<TransactionListViewComponent>(new { budgetId = @Model.Id, fromDate = Model.FromDate, toDate = Model.ToDate } ))