@model BudgetPlannerDetailsViewModel

@{
    ViewBag.Title = "Details";
    
    var budgetPlannerStatsData = Html.Base64Encode(Json.Serialize(Model.BudgetStatisticsRequest), Encoding.UTF8);
}

@Html.ActionLink("Dashboard", "Index", "Home")

<h1>@Model.Name</h1>

<h3>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.CurrencyFormat), Model.Balance)</h3>

@Html.Raw(Model.Content)

<section class="card">
    <div class="card-header">
        Spending Summary
    </div>
    <div class="card-body">
        <budget-statistics request-url="@Url.Action("GetBudgetStatistics","Budget")"
                           reference="@Model.Reference"
                           :from-date="new Date(@Model.BudgetStatisticsRequest.FromDate.MillisecondsSinceUnixEpoch())"
                           :to-date="new Date(@Model.BudgetStatisticsRequest.ToDate.MillisecondsSinceUnixEpoch())">
        </budget-statistics>

    </div>
</section>

<section class="card">
    <div class="card-header">Details</div>
    <div class="card-body">
         <transaction-list request-url="@Url.Action("GetTransactions", "Transaction")" 
                           reference="@Model.Reference"
                           :page-number="@Model.PageNumber"
                           :items-per-page="@Model.PageSize"
                           :from-date="new Date(@Model.FromDate.MillisecondsSinceUnixEpoch())"
                           :to-date="new Date(@Model.ToDate.MillisecondsSinceUnixEpoch())">

         </transaction-list>
    </div>
</section>

@Html.ActionLink("Add Transaction", "CreateTransaction", "Budget", new { reference = Model.Reference }, DictionaryBuilder
                .Create<string, object>(dictionaryBuilder => dictionaryBuilder
                    .Add("class", "btn btn-primary")
                    .Add("popup", "modal")
                    .Add("data-args", Json.Serialize(new { IsModal = true }))).ToDictionary())