@model BudgetPlannerDetailsViewModel

@{
    ViewBag.Title = "Details";
    var pageQuery = string.Concat("?pageSize=", Model.PageSize, "&pageNumber={0}");
    var transactionRequestData = Html.Base64Encode(Json.Serialize(new TransactionListRequestViewModel
    {
        Reference = Model.Reference,
        FromDate = Model.FromDate,
        ToDate = Model.ToDate,
        PageSize = Model.PageSize,
        PageNumber = Model.PageNumber,
        PreviousPageUrl = pageQuery,
        NextPageUrl = pageQuery,
        SelectPageUrl = pageQuery
    }), Encoding.UTF8);
}

@Html.ActionLink("Dashboard", "Index", "Home")

<h1>@Model.Name</h1>
<h3>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.CurrencyFormat), Model.Balance)</h3>
<p>
    <span>Displaying transactions from </span>
    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.LongDateFormat), Model.FromDate) - </span>
    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.LongDateFormat), Model.ToDate)</span>
</p>

<section data-src="@Url.Action("TransactionList","ViewComponent")"
         data-parameters="@transactionRequestData">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</section>

@Html.ActionLink("Add Transaction", "CreateTransaction", "Budget", new { reference = Model.Reference }, DictionaryBuilder
                .Create<string, object>(dictionaryBuilder => dictionaryBuilder
                    .Add("class", "btn btn-primary")
                    .Add("popup", "modal")
                    .Add("data-args", Json.Serialize(new { IsModal = true }))).ToDictionary())