@model BudgetPlannerDetailsViewModel

@{ ViewBag.Title = "Details"; }

@Html.ActionLink("Dashboard", "Index", "Home")

<h1>@Model.Name</h1>
<h3>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.CurrencyFormat), Model.Balance)</h3>
<p>
    <span>Displaying transactions from </span>
    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.LongDateFormat), Model.FromDate) - </span>
    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.LongDateFormat), Model.ToDate)</span>
</p>

@await (Component.InvokeAsync<TransactionListViewComponent>(new TransactionListRequestViewModel { 
    BudgetId = @Model.Id, 
    FromDate = Model.FromDate, 
    ToDate = Model.ToDate, 
    PageSize = Model.PageSize, 
    PageNumber = Model.PageNumber }))

@Html.ActionLink("Add Transaction", "CreateTransaction", "Budget", new { reference = Model.Reference }, DictionaryBuilder
                .Create<string, object>(dictionaryBuilder => dictionaryBuilder
                    .Add("class", "btn btn-primary")
                    .Add("popup", "modal")
                    .Add("data-args", "{ \"isModal\":\"true\" }")).ToDictionary())