@model TransactionListViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <th scope="row">
                    <span>@transaction.Id</span>
                </th>
                <td>
                    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.ShortDateFormat), transaction.Created)</span>
                </td>
                <td>
                    <span>@transaction.Description</span>
                </td>
                <td @Html.DisplayIf(transaction.Type == TransactionType.Outgoing, "class=\"text-number-negate\"")>
                    <span>@Html.FormatContent(FormatConstants.SetFormat(FormatConstants.CurrencyFormat), transaction.Amount)</span>
                </td>
            </tr>
        }
    </tbody>
</table>